/*方案 1*/
.slider-img {
    transition: left .8s;
}

[type="radio"]:nth-child(1):checked ~ .img-container .slider-img:nth-child(1),
[type="radio"]:nth-child(2):checked ~ .img-container .slider-img:nth-child(2),
[type="radio"]:nth-child(3):checked ~ .img-container .slider-img:nth-child(3),
[type="radio"]:nth-child(4):checked ~ .img-container .slider-img:nth-child(4) {
    left: 0;
    transition: left .8s;
}

/*indicators 样式*/
#id-1:checked ~ .indicators label[for="id-1"],
#id-2:checked ~ .indicators label[for="id-2"],
#id-3:checked ~ .indicators label[for="id-3"],
#id-4:checked ~ .indicators label[for="id-4"] {
    background-color: #000000;
}

/*箭头方案*/
.arrow {
    opacity: 0;
}

#id-4:checked ~ .arrow-left-container .arrow-left[for="id-3"],
#id-3:checked ~ .arrow-left-container .arrow-left[for="id-2"],
#id-2:checked ~ .arrow-left-container .arrow-left[for="id-1"],
#id-1:checked ~ .arrow-left-container .arrow-left[for="id-4"] {
    z-index: 999;
    opacity: 1;
}

#id-1:checked ~ .arrow-right-container .arrow-right[for="id-2"],
#id-2:checked ~ .arrow-right-container .arrow-right[for="id-3"],
#id-3:checked ~ .arrow-right-container .arrow-right[for="id-4"],
#id-4:checked ~ .arrow-right-container .arrow-right[for="id-1"] {
    z-index: 999;
    opacity: 1;
}