* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.inline-block {
    display: inline-block;
}


fieldset {
    padding-bottom: 150px;
}

.frame {
    width: 700px;
    margin: 8px;
    padding: 8px;
    border: 1px dotted;
}

.frame > div {
    margin: 0 auto;
}